.vscode/**
.vscode-test/**
src/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!**/*.d.ts
**/.vscode-test.*
node_modules/**
CONTRIBUTING.md
CODE_OF_CONDUCT.md
